{% extends 'base.html.twig' %}

{% block body %}
    <h1>Technique creation</h1>

    {{ form_start(formTechnique) }}
    {{ form_widget(formTechnique) }}
    <input type="submit" value="Create" />
    {{ form_end(formTechnique) }}

    <ul>
        <li>
            <a href="{{ path('documentation_astreintes_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}