{% extends 'base.html.twig' %}

{% block body %}
    <h1>Basedoc creation</h1>
    <img src="{{ app.request.basepath }}/uploads/{{ basedoc.basedoc1 }}"/>
    <ul>
        <li>
            <a href="{{ path('documentation_basedoc_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}