{% extends 'base.html.twig' %}

{% block body %}


<tbody>

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Fournisseurs</h1>
            {% for fournisseur in fournisseurs %}
                <object data="{{ app.request.basepath }}/uploads/{{ fournisseur.fournisseur1 }}" type="application/pdf" class="notedinformation">
            </object>
            {% endfor %}
        </div>
    </div>



{% endblock %}

