{% extends 'base.html.twig' %}

{% block body %}


    <h1>Fournisseurs creation</h1>
    <img src="{{ app.request.basepath }}/uploads/{{ fournisseur.fournisseur1 }}"/>
    <ul>
        <li>
            <a href="{{ path('documentation_fournisseur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}