{% extends 'base.html.twig' %}

{% block body %}


    <tbody>
    {% for journaloff in journaloffs %}

        <div class="row">
            <div class="col-md-offset-2  col-md-8 fondblanc">
                <h1 class="lienstitre">Journal officiel</h1>
                <h4 class="lienssoustitre">LegiFrance</h4>

                <a href="{{ asset('https://www.legifrance.gouv.fr/initRechJO.do') }}">
                    <object data="{{ app.request.basepath }}/uploads/{{ journaloff.journaloffimg }}" type="application/pdf" alt="Journaloff" class="lienimg">
                    </object>
                </a>

            </div>
        </div>

    {% endfor %}
    </tbody>


{% endblock %}