{% extends 'base.html.twig' %}

{% block body %}


    <tbody>
    {% for pagesjaunes in pagesjauness %}

        <div class="row">
            <div class="col-md-offset-2  col-md-8 fondblanc">
                <h1 class="lienstitre">Pages Jaunes</h1>
                <h4 class="lienssoustitre">Annuaire des professionnels</h4>

                <a href="{{ asset('http://www.pagesjaunes.fr/') }}">
                    <object data="{{ app.request.basepath }}/uploads/{{ pagesjaunes.pagesjaunesimg }}" type="application/pdf" alt="PagesJaunes" class="lienimg">
                    </object>
                </a>

            </div>
        </div>

    {% endfor %}
    </tbody>


{% endblock %}