{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">

            <h1 class="lienstitre">MENUS</h1>
            <h4 class="lienssoustitre">Menus régime normal </h4>
            <object data="{{ asset('bundles/hopital/doc/menus/semaine du 3 au 9 mai.pdf') }}" type="application/pdf" class="menupdf">
            </object>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">
                Menus de remplacement
            </button>
            <!-- Modal -->




            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body" style="height: 650px">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <object data="{{ asset('bundles/hopital/doc/menus/PLAT DE REMPLACEMENT A COMPTER DU 4 AVRIL 2016.pdf') }}" type="application/pdf" class="menuremplacepdf">


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
