{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblancshow ">

            <h1 class="lienstitre">Planniciel</h1>
            {% for planniciel in planniciels %}

                {{ planniciel.titre }}

                <br/>
                <img class="img-responsive" src="{{ app.request.basepath }}/uploads/{{ planniciel.planniciel1 }}"/>
            {% endfor %}

        </div>
    </div>

{% endblock %}