{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Organigrammes</h1>
            <object data="{{ asset('bundles/hopital/img/Organigramme.pdf') }}" type="application/pdf" class="notedinformation">
            </object>
        </div>
    </div>

    {#<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}

        {% endfor %}
    <!--</tbody>
    </table>-->

    <ul>
        <li>
            <a href="{{ path('presentation_new') }}">Create a new presentation</a>
        </li>
    </ul>#}
{% endblock %}
