{% extends 'base.html.twig' %}

{% block body %}


    <tbody>
    {% for organigramme in organigrammes %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Organigramme</h1>
            <object data="{{ app.request.basepath }}/uploads/{{ organigramme.organigrammeimg }}" type="application/pdf" class="organigramme">
            </object>
        </div>
    </div>

    {% endfor %}


{% endblock %}

