{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-offset-2  col-md-8 fondblanc2">
        <h1 class="lienstitre">Organigramme</h1>
        {% for organigramme in organigrammes %}
            <object data="{{ app.request.basepath }}/uploads/{{ organigramme.organigrammeimg }}" type="application/pdf" class="organigramme">
            </object>
        {% endfor %}
    </div>
</div>


{% endblock %}

