{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
    <h1>Psycho creation</h1>
=======
    <h1>Plans creation</h1>
>>>>>>> b5081c74eadd43691d274f1232309d8ee62c399b

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('presentation_plans_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}