{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Epp</h1>
            {% for rubrique in rubriques %}

                <a href="{{ path('demarches_epp_index_show', { 'id': rubrique.id }) }}">
                    <div class="col-xs-12 btn btn-default bloc-categorie" data-target="{{ '#' ~ rubrique.rubrique }}">
                        {{ rubrique.rubrique }}

                    </div></a>


            {% endfor %}

        </div>

    </div>

{% endblock %}
