{% extends 'base.html.twig' %}

{% block body %}


<tbody>
{% for direction in directions %}

    <div class="row">
        <div class="col-md-offset-2  col-md-8 fondblanc">
            <h1 class="lienstitre">Direction</h1>
            <object data="{{ app.request.basepath }}/uploads/{{ direction.directionimg }}" type="application/pdf" class="directioncommune">
            </object>
        </div>
    </div>

{% endfor %}


{% endblock %}