body{
    background-image: url("../img/montagne2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/**************************** DEBUT NAVBAR ****************************/

.navbar{
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    padding-top: 10px;
    padding-left: 10%;
    border: 0px;
    text-align: center;
    font-size: 1.2em;
}


.dropdown-menu{
    box-shadow: none;
    width: 235px;
    border: 5px solid #E7E7E7;
}

.container-fluid{
    padding: 0px;
}


.logo{
    height: 70px;

}

.pictoMonCompte{
    height: 30px;
    margin-top:5px;
}



/**************************** FIN NAVBAR ****************************/


/**************************** DEBUT FOOTER ****************************/

footer{
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}

.ml{
    color: #000000;
}

.ml:link {
    color: white;
    text-decoration: none;
}

.ml:visited {
    color: white;
    text-decoration: none;
}

.ml:hover {
    color: #626262;
    text-decoration: none;
}

.ml:active {
    color: #000000;
    text-decoration: none;
}


/*modal Eleves*/

.modal-header {
    text-align: center;
}

.modal-body{
    color: black;
    font-size: 1.2em;
}

.modal-body h2{
    color: #FE8801;
}

.nom-linked {
    text-align: center;
}

.alert{
    background-color: #FE9B1A;
    border: none;
}

.alert-info{
    text-align: center;
    color: #fff;
}

.lienLink {
    text-align: center;
}

.lienLink:link {
    color: #FE9B1A;
    text-decoration: none;
}

.lienLink:visited {
    color: #FE9B1A;
    text-decoration: none;
}

.lienLink:hover {
    color: #FECC76;
    text-decoration: none;
}

.lienLink:active {
    color: #FECC76;
    text-decoration: none;
}

#texteWCS{
    margin-top: 60px;
}

.wcs{
    height: 15em;
    margin-top:20px;
}



/**************************** FIN FOOTER ****************************/







/**************************** DEBUT ACCUEIL ****************************/

main {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: auto;

}

.jumbotron {
    padding-bottom: 0;
    padding-top: 0;
    background-color: #ffffff;
}

/**************************** FIN ACCUEIL ****************************/



/**************************** DEBUT BARRE DE RECHERCHE ****************************/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control{
    border-radius: 0px;
    border: 1px solid rgb(0,0,0,0);
}

.input-group-btn .btn{
    height:43px;
    margin-top: 1px;
    border:0;
}

#search {
    padding-left: 0;
}
.form-control {
    height:45px;
}
.input-group-btn {
    height: 20px;
}

#adv-search {
    width: 410px;
    padding-bottom: 20px;
}
.dropdown.dropdown-lg {
    position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
    min-width: 410px;
}

.container{
    width: auto;
}

/**************************** FIN BARRE DE RECHERCHE ********************/



/**************************** DEBUT NOUVEAUTES DU SITE ****************************/

.newsticker {
    list-style-type: none;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;

}

#nouveautes {
    background-color: #FFFFFF;
    margin-top:1px;
    height:42px;
    padding:10px;
    padding-top: 0px;
    border:1px solid #FFFFFF;
}

#nouveautes ul li {
    padding-left:18px;
}

/**************************** FIN NOUVEAUTES DU SITE ****************************/


/**************************** DEBUT ACTUALITES ****************************/
.actu {
    background-color: #FFFFFF;
    padding: 10px;
    padding-bottom: 30px;
}



/**************************** FIN ACTUALIES ****************************/


/**************************** DEBUT LIENS UTILES ****************************/

.utiles{
    padding:6px 20px 20px 20px;
}

.utiles h3{
    margin-bottom: 5px;
}

.liensUtiles {
    margin-bottom: -4px;
}


/**************************** FIN LIENS UTILES ****************************/


/**************************** DEBUT METEO ****************************/


.meteo{
    margin-top: -12px;
}

.alerte{
    margin-bottom: 0px;
    padding-top:10px;
}

.temps{
    padding-left: 85px;
    padding-bottom: 10px;
    margin-top: -10px;
}



/**************************** FIN METEO ****************************/



/**************************** DEBUT BOOK ****************************/

.bouton_dl  {
    padding: 5px;
    margin-top: 20px;
    margin-left: 45%;
    font-size: 1.2em;
    border: solid black 1px;
    border-radius: 5px;

}

.bouton_dl:hover {
    color: darkslategrey;
    text-decoration: none;
}

.bouton_dl:visited {

    color: black;

}




/**************************** FIN BOOK ****************************/


/**************************** DEBUT LIENS ****************************/


.lienstitre{
    text-align: center;
    color: #0089D0;
    margin-top: 10px;
}

.lienssoustitre{
    text-align: center;
    margin-top: -5px;
}

.btn{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 5%;
    margin-top:10px;
    margin-bottom: 10px;
}

.fondblanc{
    background-color: #FFFFFF;
    height: 570px;
    padding: 10px 20px 20px 20px;
}

.fondblanc1{
    background-color: #FFFFFF;
    height: 770px;
    padding: 10px 20px 20px 20px;
}

.lienimg{
    width: 90%;
    height: 470px;
    margin-left: 5%;
    margin-right: 5%;
    border:4px solid #E7E7E7;
}

.lienimgchartres{
    height: 100px;
    margin-left: 5%;
    border:4px solid #E7E7E7;
}

.has{
    height: 450px;
    width: 90%;
    margin-left: 5%;
}



/**************************** FIN LIENS ****************************/

/**************************** DEBUT GALERIE IMAGES ****************/

.fondblanc2{
    background-color: #FFFFFF;
    height: 590px;
    padding: 10px 20px 20px 20px;
}

div.c-wrapper{
    width: 80%;
    height: 80%;
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    width: 100%;
    margin: auto;
}

.carousel .item img {
    left: -9999px;  /*important */
    right: -9999px;  /*important */
    margin: 0 auto;  /*important */
    max-width: none;  /*important */
    min-width: 100%;
    height: 550px;
}
/************************** FIN GALERIE IMAGES **********************/

/**************************** DEBUT CONTACTS ***********************/

/*.doc-pdf {
    border: 4px solid #E7E7E7;
}*/

.fondblanccontact{
    background-color: #FFFFFF;
    height: 570px;
    padding: 10px 20px 20px 20px;
}


.contactbtn{
    background-color: #0089D0;
    color: #FFFFFF;
    width: 300px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 0;
    border:0;
    margin-left: 36%;
    margin-top:10px;
    margin-bottom: 10px;
}

.contactpdf{
    width: 80%;
    height: 117px;
    margin-left: 10%;
}



/************************** FIN CONTACTS **********************/


/**************************** DEBUT PLANS ***********************/

.planglobal{
    width: 700px;
    margin-left: 15%;
    border:4px solid #E7E7E7;
}

.slide{
    margin-top: 50px;
}


/************************** FIN PLANS **********************/


/**************************** DEBUT NOTES DE SERVICES ***********************/

.noteservice{
    height: 500px;
    width: 70%;
    margin-left: 15%;

}


.notedinformation{
    height: 470px;
    width: 90%;
}


.notebtn{
    background-color: #0089D0;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 5%;
    margin-top:10px;
    color: #FFFFFF;
}

.noteboutons{
    margin-bottom: 20px;
    margin-left: 28%;
}

/**************************** FIN NOTES DE SERVICES **********************/


.organigramme{
    height: 480px;
    width: 90%;
    margin-left: 5%;
}

/**************************** DEBUT JOURNAL ***********************/


.journaux{
    height: 430px;
    width: 95%;
}










/**************************** FIN JOURNAL ***********************/


/**************************** DEBUT NOTES DE SERVICES **********************/











/**************************** FIN NOTES DE SERVICES **********************/


/**************************** DEBUT DIRECTION COMMUNE **********************/


.directioncommune{
    height: 530px;
    width: 70%;
    margin-left: 15%;
    border: 5px solid #E7E7E7;
}

/**************************** FIN DIRECTION COMMUNE **********************/


/**************************** DEBUT MENU **********************/
.menus {
    border: 5px solid #e7e7e7;
}

.btn-lg{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 15%;
    margin-top:10px;
    margin-bottom: 10px;
}



.menuremplacepdf{
    width: 830px;
    height: 570px;
    margin: 0px 20px 20px 20px;
}

/**************************** FIN MENU **********************/


/**************************** DEBUT BOÎTE À IDÉES **********************/

.objet{
    width: 70%;
    margin-left: 15%;
}

.message{
    width: 70%;
    margin-left: 15%;
}

.send{
    margin-left: 800px;
}

/**************************** FIN BOÎTE À IDÉES **********************/


/**************************** DEBUT ASTREINTES **********************/

.astreintesbtn{
    background-color: #0089D0;
    color: #FFFFFF;
    width: 150px;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 5%;
    margin-top:10px;
    margin-bottom: 10px;
}

.astreintesimg{
    width: 400px;
    height: 200px;
    margin-right: 50px;
}

.archivestitres{
    margin-left: 10px;
}

.modalarchivespdf{
    height: 600px;
    width: 860px;
    margin-left: 20px;
}



/**************************** FIN ASTREINTES **********************/

<<<<<<< HEAD
=======

/**************************** DEBUT GALERIE ****************************/
>>>>>>> newonglet
.bloc-categorie {
    width: 200px;
    background-color: #0089D0;
    border-radius: 3px;
    height: 100px;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 5px;
    padding-top: 20px;
<<<<<<< HEAD
=======
}





/**************************** FIN GALERIE ****************************/

/**************************** DEBUT ANNONCES *************************/


.imgannonce{
    max-width: 270px;
    margin-left: 20px;
}

.imgannonceedit{
    max-width: 360px;
}

.auteurannonce{
    margin-bottom: 30px;
}


.commentaireancien{
    margin-top: 10px;
    border:5px solid #E7E7E7;
    padding:20px;
    overflow-y: scroll;
    height: 150px;
}

.zonecommentaire{
    width: 470px;
    margin-bottom: 10px;
}

.materialize-textarea{
    width: 470px;
    height: 100px;
}

.btnannonce{
    position: absolute;
    top:450px;
    left:420px;
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-left: 0;
    margin-top:50px;
    padding:5px 10px 5px 10px;
}

.btnmodifannonce{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-left:430px;
    margin-top: 30px;
    padding:5px 10px 5px 10px;
}


.annoncenewbtn{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-left: 50px;
    padding:5px 10px 5px 10px;
}


.annoncenewbtn1{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-left: 25px;
    padding:5px 10px 5px 10px;
}

.btnajout{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
    padding:5px 10px 5px 10px;
}


a:focus, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.btnajout a{
    color: #FFFFFF;
}

.btneditannonce{
    background-color: #CCCCCC;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
    padding:5px 10px 5px 10px;
}

.zoneannonce{
    width: 630px;
    margin-bottom: 10px;
}

.zoneannoncedesc{
    width: 630px;
    height: 100px;
    margin-bottom: 10px;
}

.fondblancshow{
    background-color: #FFFFFF;
    padding: 10px 20px 20px 20px;
    margin-bottom: 70px;
}

.fondblancannonce{
    background-color: #FFFFFF;
    padding: 10px 20px 20px 20px;
    margin-bottom: 70px;
    height: 570px;
}

.carreshowannonce{
    background-color: #E7E7E7;
    padding: 30px;
    margin-top: -10px;
}

.carreshowcomm{
    border: 5px solid #E7E7E7;
    padding: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.carrelisteannonce{
    background-color: #E7E7E7;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lienstitreshow{
    text-align: center;
    color: #0089D0;
    margin-top: 10px;
}

hr{
    border-top : 4px solid #E7E7E7;
}

.desc{
    font-size: 1.2em;
    font-weight: bold;
}

.line_img{
    max-height: 233px;
    max-width: 350px;
}


.descriptionannonce{
    background-color: #FFFFFF;
    border:4px solid #CCCCCC;
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px;
    min-height: 100px;
}

.prixannonce{
    margin-left: 20px;
    background-color: #0089D0;
    width:90px;
    height:60px;
    color: #FFFFFF;
    padding-top:15px;
    font-size: 1.6em;
    font-weight: bold;
}
/**************************** FIN ANNONCES *************************/

/**************************** DEBUT NEW ****************************/

.carrenew{
    background-color: #E7E7E7;
    height: 300px;
    margin-top: 30px;
    padding: 30px;
}

.carrenewid{
    background-color: #E7E7E7;
    height: 430px;
    margin-top: 0px;
    padding: 30px;
}

.lienstitrenew{
    text-align: center;
    color: #0089D0;
    margin-top: 30px;
}

.imgnew{
    margin-top: 15px;
    font-size: 1.1em;
}

.imgnewid{
    margin-top: 5px;
    font-size: 1.1em;
}

.btnnew{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.3em;
    text-align: center;
    margin-left: 5%;
    margin-top:30px;
    margin-bottom: 10px;
    padding:10px 20px 10px 20px;
}

/*Dans Type*/
.zonenew{
    width: 450px;
    margin-bottom: 10px;
}

.carrenewannonce{
    background-color: #E7E7E7;
    height: 450px;
    margin-top: 30px;
    padding: 30px;
}

.carreneannonce{
    background-color: #E7E7E7;
    height: 430px;
    margin-top: 0px;
    padding: 20px;
}




/**************************** Fin NEW ****************************/


/**************************** DEBUT EDIT ****************************/


.btnedit{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 10px;
    padding:10px 20px 10px 20px;
    width: 120px;
}

.btnnote {
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 20px;
    padding:10px 20px 10px 20px;
    width: 120px;

}

.btneditcommun{
    margin-top: 10px;
    margin-left: 36%;

}

.carreeditid{
    background-color: #E7E7E7;
    height: 370px;
    margin-top: 30px;
    padding: 30px;
}

.carreeditid_note{
    background-color: #E7E7E7;
    height: 450px;
    margin-top: 30px;
    padding: 30px;
}

.carreeditid_plans{
    background-color: #E7E7E7;
    height: 500px;
    width: 700px;
    margin-left: 16.5%;
    margin-top: 30px;
    padding: 30px;
}

/**************************** fin EDIT ****************************/



/**************************** début calendrier ********************/

.fondcalendar{
    background-color: #FFFFFF;
    height: 590px;
}

.calendarbtn{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin:10px 20px 10px 0px;
}

.newcalendar{
    padding-left: 20px;
    padding-right: 20px;
}

.choixcalendar{
    width: 220px;
}

.choixcalendar1{
    width: 270px;
}

.calendarlienstitre{
    text-align: center;
    color: #0089D0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendarnewbtn{
    background-color: #0089D0;
    color: #FFFFFF;
    width: 200px;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin:10px 50px 10px 0px;
}

.calendarnewbtn1{
    background-color: #0089D0;
    color: #FFFFFF;
    width: 150px;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin:10px 50px 10px 420px;
}

.listeeventcalendar{
    padding-left: 50px;
    padding-right: 50px;
}

.listebtn{
    position: absolute;
    left:560px;
    top:500px;
}


/************************ DEBUT IDEES *******************/

.mail{
    text-align: center;
}

.btnmail{
    background-color: #0089D0;
    color: #FFFFFF;
    border-radius: 0;
    border:0;
    font-size: 1.2em;
    text-align: center;
    margin-left: 38%;
    margin-top:10px;
    margin-bottom: 10px;
}

/************************ NEWS ONGLETS *******************/


.carrenewonglet{
    background-color: #E7E7E7;
    height: 430px;
    margin-top: 0px;
    padding: 30px;
    padding-top: 10px;
    margin-bottom: 50px;
>>>>>>> newonglet
}